* {
    margin: 0px;
    padding: 0px;
}

container {
    width: 80%;
}

body {
    margin: 15px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}


h1 {
    text-align: center;
    padding: 20px;
    font-family: "Lato", sans-serif;
    margin-top: auto;
}

img {
    width: 75px;
    height: 75px;
    margin-top: 20px;
}

hr {
    height: 5px;
    background-color: chocolate;
    border-color: saddlebrown;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form {
    align-items: center;
}

.align-name {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}


label {
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btn-creer {
    margin-right: 10px;
}

.newDivCookie {
    width: 150px;
    height: auto;
    background: lightgray;
    box-shadow: -1px 3px 8px 5px #1F87FF;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.closeButton {
    width: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;

}